<nav id="navbar-header" class="d-flex align-items-center justify-content-center">
  <!-- Botão para chamar OFFCANVAS -->
  <button class="btn btn-outline-light d-lg-none btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
    <img src="assets/icones/menu_white_navbar.svg" alt="">
  </button>

  <!-- OFFCANVAS para resoluções menores -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
    <!-- Cabeçalho do offcanvas -->
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Acesse:</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- Corpo do offcanvas -->
    <div class="offcanvas-body">
      <div class="container d-flex justify-content-center align-items-center flex-wrap" *ngFor="let link of links">
        <div class="row">
          <div class="col-12 pb-4">
            <!-- Links de navegação do OFFCANVAS -->
            <a class="navbar-header-link d-flex justify-content-center align-items-center text-center">
              <img src="{{link.img}}" alt="{{link.alt}}">
              <span>{{link.nome}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Links da navbar -->
  <ul id="navbar-links" class="d-none d-lg-flex justify-content-evenly align-items-center">
    <div *ngFor="let link of links">
      <li>
        <a routerLink="{{link.path}}" routerLinkActive="link-navbar-ativo" class="navbar-header-link d-flex justify-content-center align-items-center text-center">
          <img src="{{link.img}}" alt="{{link.alt}}">
          <span>{{link.nome}}</span>
        </a>
      </li>
    </div>
  </ul>

  <!-- Botão de login -->
  <div id="login-navbar">
    <a href="">
      <img src="assets/icones/icon_white_login.svg" id="icon_login">
      <span>Login</span>
    </a>
  </div>
</nav>
