<div class="background"> <!-- background -->
    <div class="container-fluid d-flex justify-content-center align-items-center"> <!-- Div do container-->
        <!-- Início do formulário -->
        <form [formGroup]="formLogin" class="form d-flex justify-content-center align-items-center flex-column m-3 p-3 rounded">
            <h3 class="mb-4">Faça login</h3>
            <!-- Campos de entrada -->
            <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                <div>
                    <img class="icon me-1" src="assets/login/email_icon.svg">
                    <label for="email-login" class="form-label">Email:</label>
                    <input formControlName="email" type="email" name="email-login" class="form-control" id="email-login" placeholder="Email de login">
                    <span *ngIf="!this.formLogin.controls.email.valid && this.formLogin.controls.email.touched" class="texto-validacao-erro-form ms-2"><img src="assets/login/erro_icon.svg" alt=""> Email inválido</span>
                </div>
                <div>
                    <img class="icon me-1" src="assets/login/senha_icon.svg" alt="">
                    <label for="senha-login" class="form-label">Senha:</label>
                    <input formControlName="senha" type="password" name="senha-login" class="form-control" id="senha-login" placeholder="Senha de login">
                    <span *ngIf="!this.formLogin.controls.senha.valid && this.formLogin.controls.senha.touched" class="texto-validacao-erro-form ms-2"><img src="assets/login/erro_icon.svg" alt=""> Senha inválida</span>
                </div>
            </div>
            <!-- Fim dos campos -->

            <!-- Link para redefinição de senha -->
            <div class="mt-3">
                <a routerLink="" class="link-form">Esqueci minha senha</a>
            </div>

            <!-- Botão de entrar -->
            <button class="mt-3 form-btn" type="submit" (click) = "onSubmit()">ENTRAR</button>

            <!-- Links para entrada com redes sociais -->
            <div class="links-redes d-flex justify-content-between align-items-center mt-4 w-50">
                <a href=""><img src="assets/login/facebook_icon.svg" alt="Login com facebook"></a>
                <a href=""><img src="assets/login/google_icon.svg" alt="Login com linkedin"></a>
                <a href=""><img src="assets/login/x_icon.svg" alt="Login com conta google"></a>
            </div>

            <!-- Link para página de cadastro -->
            <div class="mt-4">
                <span class="texto-link-form">Não possui uma conta? <a routerLink="/cadastro" class="link-form">Clique para criar uma</a></span>
            </div>
        </form> <!-- Fim do formulário -->
    </div>
</div>
