/* Background do componente */
.login-background{
   background-color: var(--cor-background);
}

/* Div do formulário */
.form-login{
    background-color: var(--cor-form-login);
    width: 440px;
    height: 500px;
    border: 6px solid var(--cor-primaria);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Elementos do formulário */
.form-label{
    font-size: 1rem;
}

.form-control{
    background-color:  #dfdddd;/* #575757 */
    border-radius: 10px;
    width: 270px;
    height: 40px;
    font-size: 0.9rem;
    transition: 0.6s transform ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control:focus{
    transform: translate(2px);
    border: 2px solid var(--cor-primaria);
}

/* Icones do formulário */
.icon{
    width: 30px;
    height: 30px;
}

/* Botão de login */
#login-botao{
    background-color: var(--cor-quaternaria);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 206px;
    height: 46px;
    font-size: 1rem;
    letter-spacing: 1.2px;
    transition: 0.6s all ease;
}

#login-botao:hover{
    opacity: 0.8;
    transform: translateY(-5px);
    cursor: pointer;
}

/* Div dos links para redes sociais */

.links-redes img{
    width: 42px;
    height: 42px;
    transition: 0.8s all ease;
}

.links-redes img:hover{
    transform: translateY(-4px);
}

/* Estilos dos links */
.texto-link{
    font-size: 0.875rem;
}

#link-cadastro, #link-redefinir-senha{
    color: var(--cor-fonte-link);
    font-size: 0.85rem;
}

#link-cadastro:hover, #link-redefinir-senha:hover{
    opacity: 0.8;
}
