<div class="login-background"> <!-- background -->
    <div class="container-fluid d-flex justify-content-center align-items-center"> <!-- Div do container-->
        <div class="form-login d-flex justify-content-center align-items-center flex-column m-3  gap-1">
            <h3>Faça o login</h3>
            <div class="form-login-input mt-2">
                <img class="icon me-1" src="assets/login/email.png">
                <label for="email-login" class="form-label">Email:</label>
                <input type="text" name="email-login" class="form-control" id="email-login" placeholder="Email de login">
            </div>
            <div class="form-login-input">
                <img class="icon me-1" src="assets/login/senha.png" alt="">
                <label for="senha-login" class="form-label">Senha:</label>
                <input type="password" name="senha-login" class="form-control" id="senha-login" placeholder="Senha de login">
            </div>

            <button class="btn btn-primary" id="login-botao">ENTRAR</button>

            <div class="direcionar-redefinir-senha">
                <a href="" id="link-redefinir-senha">Esqueci minha senha</a>
            </div>
            
            <div class="entrar-redes">
                <a href=""><img src="assets/login/facebook.png" alt="Login com facebook"></a>
                <a href=""><img src="assets/login/linkedin.png" alt="Login com linkedin"></a>
                <a href=""><img src="assets/login/social.png" alt="Login com conta google"></a>
            </div>
            <div class="direcionar-cadastro">
                <span class="login-texto">Ainda não possui conta? <a id="link-cadastro">Clique aqui</a></span>
            </div>
        </div> 
    </div>
</div>