body{
  background-color: #E9E9E9;
}
.segundo-fundo{
  background-color: #F0F0F0;
  margin: 32px 0px 72px 0px;
  font-size: var(--doencas-texto);
  border-radius: 20px;
  padding: 30px 10px;
  gap: 20px;
}
#main-img{
  width: 300px;
}
#texto-banner-doencas{
  width:580px;
}
h2{
  font-size: 25.5px;
}
.terceiro-fundo{
  background-color:var(--cor-terciaria);
}
/* Código antigo do card */
/* .card{
  background-color: var(--cor-secundaria);
  height: 200px;
  border: 0px;
  border-radius: 20px;
}
.card img{
  padding: 20px 20px;
  width: 200px;
  height:200px;
  border-radius: 12.5%;
}
.card div span{
  font-size: var(--doencas-texto);
  width: 600px;
}
.card div{
  margin-top: 20px;
  max-height: 100px;
} */

.icone-cards{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid var(--cor-primaria);
}
