.card-comentario{
  background-color:var(--cor-bloco-comentario);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3);  /* Sombra mais suave */
  width: 60%;
}
.card-comentario .user-comentario span{
  font-weight: 700;
  font-size: 1.2em;
}
.card-comentario .conteudo-comentario p{
  text-align: justify;
  font-size: 0.9rem;
}
