body{
  background-color: #E9E9E9;
}
.segundo-fundo{
  background-color: #F0F0F0;
  margin: 32px 0px 72px 0px;
  font-size: var(--doencas-texto);
  border-radius: 20px;
  padding: 30px 10px;
  gap: 20px;
}
#main-img{
  width: 300px;
}
#texto-banner-doencas{
  width:580px;
}
