<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 segundo-fundo d-flex flex-line justify-content-center align-items-center">
      <img id="main-img" src="assets/pessoa_doente.svg" alt="">
      <span id="texto-banner-doencas">O saneamento básico é crucial para a saúde pública, prevenindo doenças e promovendo o bem-estar. O acesso a água potável, esgoto tratado e manejo correto de resíduos sólidos reduz a contaminação ambiental e a exposição a agentes patogênicos. Proteja sua saúde e o meio ambiente com os cuidados necessários!</span>
    </div>
    <div class="col-1"></div>
  </div>
</div>
