<div class="container">
  <div class="introducao d-flex flex-row align-items-center">
    <img src="assets/icones/introducao-reclamacao.svg" class="img-fluid imagem-introducao w-50" alt="introdução da reclamação">
    <p>
      Denunciar e fazer reclamações sobre problemas de esgoto e água é essencial para garantir a saúde pública, prevenir doenças e proteger o meio ambiente. Ao relatar esses problemas, ajudamos a incentivar as autoridades para que realizem as devidas manutenções e reparos, garantindo um saneamento básico adequado. Além disso, ações corretivas evitam a contaminação de rios e mares, preservando os recursos hídricos para as futuras gerações.</p>
  </div><!-- introducao-->
  <div class="adicionar d-flex flex-column align-items-center align-content-center">
    <h2>Adicione sua reclamação:</h2>
    <div class="adicionar-botao">
      <button class="btn btn-secondary" >Adicionar</button>
    </div>

  </div><!-- adicionar -->
  <div class="reclamacoes">
    <div class="tag d-flex flex-row justify-content-center">
      <p class="px-5 py-4">#Vazamento</p>
      <p class="px-5 py-4">#Falta de água</p>
    </div>
    <div class="body-reclamacao d-flex flex-row align-items-start">
      <img class="imagem-reclamacao" src="reclamacao1.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem placeat delectus ullam ea iste veniam qui nihil beatae fugit officiis voluptatem id sint atque, mollitia architecto quo excepturi. Ipsa, eligendi!</p>
    </div>
  </div><!-- reclamacoes -->
</div>
