/* Sobrescrita do bootstrap */
.container-fluid{
  padding: 0px;
}

/* ID do header principal */
#header{
    background-color: var(--cor-primaria);
    height: var(--header-altura);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Imagem */

#logo-header img{
    width: 180px;
    height: calc(var(--header-altura) - 20px); /* Calculo para alinhar a imagem com o tamanho do header */
    transition: 0.6s opacity;
}

#logo-header img:hover{
    opacity: 0.7;
}

@media(max-width:550px){
    #logo-header{
        width: 200px;
        height: 100px;
    }

    #header{
        flex-direction: column;
        height: auto;
    }
}

/* Login */
#login-navbar {
    transition: 0.4s all ease-in-out;
  }
  
  #login-navbar:hover {
    opacity: 0.5;
  }
  
  #login-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(var(--header-texto) + 0.1rem);
    font-weight: 500;
    text-decoration: none;
  }
  
  #icon_login {
    width: calc(var(--header-altura) - 20px);
    height: calc(var(--header-altura) - 20px);
  }
  