#fundo {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
}

.info {
  border-bottom: solid 3px;
  border-color: var(--cor-fundo);
}

.justifica {
  text-align: justify;
}

a{
  color:var(--cor-fundo);
}

#voltar{
  width: 2em;
}
