#fundo {
  background-color: #f3f3f3;
  color:#8f8f8f;
  font-weight: 600;
}

.info {
  border-bottom: solid 3px;
  border-color: #8f8f8f;
}
.info h5{
  color:#4a4a4a;
}
.justifica {
  text-align: justify;
}

a{
  color:#8f8f8f;
}

#voltar{
  width: 2em;
}
#imgDoenca{
  width: 300px;
  border: 2px solid #fff;
  border-radius: 5px;
}

#titulo{
  color: #333333;
}
