<div class="footer container-fluid text-center">
  <div class="row">
    <div class=" remove-padding col-4 justify-content-center border-end border-white">
      <h5>Reclamamações</h5>
      <div class="links-footer d-flex flex-column align-items-start ps-4">
        <a href="#" class="">Reclame Já</a>
        <a href="#">Ver Notícias</a>
        <a href="#">Visualizar Reclamações</a>
      </div>
    </div>
    <div class="col-4">
      <h5>Informações</h5>
    </div>
    <div class="col-4">
      <h5>Fale Conosco</h5>
    </div>
  </div>
</div>
