<nav id="navbar-header">
  <button aria-label="Abrir menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
      <span id="hamburguer"></span>
  </button>
  <ul id="navbar-links" role="menu">
      <li><a href="" id="doencas_navbar_link" class="navbar-header-link"><img src="assets/doencas_icone.svg" alt="ícone de doenças"><span>Doenças</span></a></li>
      <li><a href=""  id="reclamacoes_navbar_link" class="navbar-header-link"><img src="assets/noticias_icone.svg" alt="ícone de notícias"><span>Notícias</span></a></li>
      <li><a href=""  id="noticias_navbar_link" class="navbar-header-link"><img src="assets/reclamacoes_icone.svg" alt="ícone de reclamções"><span>Reclamações</span></a></li>
      <li id="login-navbar"><a href=""><img src="assets/usuario_login.svg" alt="Ir para a página de login" id="icon_login"><span>Login</span></a></li>
  </ul>
</nav>
