.container-fluid{
  padding: 0px;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor-primaria);
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--header-altura);;
    z-index: 999;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    background-color: #E9E9E9;
}

/* Imagem */

#logo-header img{
    width: 240px;
    height: 100px;
    transition: 0.6s opacity;
    margin-bottom: 20px;
}

#logo-header img:hover{
    opacity: 0.7;
}

@media (max-width: 1050px){
    #navbar-links{
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 0px;
        top: 100px;
        right: 0;
        transition: .6s ease-in-out;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #navbar-links li{
        display: flex;
        justify-content: center;
    }

    #navbar-header.active-menu #navbar-links{
        height: calc(100vh - var(--header-altura));
        visibility: visible;
        overflow-y: auto;
    }

    #navbar-links .navbar-header-link{
        padding: 20px;
    }

    #btn-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        font-size: 1.5rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: white;
        transition: 0.5s all ease;
    }

    #btn-mobile:hover{
        opacity: 0.5;
    }

    #hamburguer{
        border-top: 3px solid;
        width: 25px;
        display: block;
        color: white;
    }
    #hamburguer::after, #hamburguer::before {
        content: " ";
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s ease;
        position: relative;
    }

    #navbar-header.active-menu #hamburguer{
        border-top-color: transparent;
    }

    #navbar-header.active-menu #hamburguer::after{
        transform: rotate(-135deg);
        top: -7.5px;
    }

    #navbar-header.active-menu #hamburguer::before{
        transform: rotate(135deg)
    }

    #login-navbar{
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 30px;
    }
}

/* Animação */

#navbar-header .navbar-header-link:not(.active)::after{
    content: " ";
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    transition: 0.8s all ease-in-out;
}

#navbar-header .navbar-header-link:not(.active):hover::after{
    width: 100%;
}

#navbar-header .active{
    border-bottom: 4px solid white;
}

#navbar-header .active:hover{
    border-bottom: 4px solid #f5f5f5
}

@media (max-width: 400px){
    #logo-header img{
        width: 150px;
        height: 120px;
        transition: 0.6s opacity;
    }
}

@media (max-width: 280px){
    #logo-header img{
       display: none;
    }

    #header{
        justify-content: center;
    }
}
