/* Login */
#login-navbar {
    transition: 0.4s all ease-in-out;
  }
  
  #login-navbar:hover {
    opacity: 0.5;
  }
  
  #login-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(var(--header-texto) + 0.1rem);
    font-weight: 500;
    text-decoration: none;
  }
  
  #icon_login {
    width: calc(var(--header-altura) - 20px);
    height: calc(var(--header-altura) - 20px);
  }