<div class="footer container-fluid text-center">
  <div class="row">
    <div class="col-lg-4 col-sm-12 justify-content-center p-sm-5 mb-5">
      <h5>Reclamações</h5>
      <div class="links-footer d-flex flex-column align-items-start pt-2 ps-4">
        <a routerLink="/reclamacao/reclamacao-form">Reclame Já</a>
        <a routerLink="/noticia-inicial">Ver Notícias</a>
        <a routerLink="/reclamacao">Visualizar Reclamações</a>
      </div><!-- links-footer -->
    </div><!-- col-4 -->
    <div class="col-lg-4 col-sm-12 justify-content-center borda p-sm-5 pb-5">
      <h5>Informações</h5>
      <div class="links-footer d-flex flex-column align-items-start pt-2 ps-4">
        <a routerLink="/responsaveis">Com quem falar?</a>
        <a routerLink="/sobre-nos" routerLinkActive="router-link-active" >Sobre nós</a>
        <a routerLink="/doenca-inicial">Doenças relacionadas</a>
      </div><!-- links-footer -->
    </div><!-- col-4 -->
    <div class="col-lg-4 col-sm-12 p-sm-5 mb-5">
      <h5>Fale Conosco</h5>
      <div class="links-footer-img d-flex flex-column align-items-start">
        <a href="#">
          <img src="img/footer/telefone_footer.svg"alt="">
          <span>(15) 99138-6263</span>
        </a>
        <a href="#">
          <img src="img/footer/instagram.svg"alt="">
          <span>&#64;saneaSP</span>
        </a>
        <a href="#">
          <img src="img/footer/linkedin.svg"alt="">
          <span>SaneaSP</span>
        </a>
        <a href="#">
          <img src="img/footer/email_footer.svg"alt="">
          <span>saneaSP&#64;gmail.com</span>   <!-- &#64; é o simbolo para o @ -->
        </a>
      </div><!-- links-footer-img -->
    </div><!-- col-4 -->
  </div><!-- row -->
</div>
