.footer{
  height: auto;
  background-color: var(--cor-primaria);
  font-size: 1.1em;
}
.row .border-secondary{
  border-color: #999898 !important;
}
h5{
  padding-top: 12px;
  color: white;
  font-weight: bold;
}
.links-footer a, span{
  color: white;
  text-decoration: none;
  transition: .3s;
  display: inline-block;
}
.links-footer a:hover, span:hover{
  transform: scale(1.1);
  text-decoration: underline;
}
.links-footer-img a{
  padding-top: 2px;
}
.links-footer-img a img{
  width: 40px;
  padding-right: 20px;
}

