<div class="card h-100">
  <!-- Div do card-->
  <!-- Header do card -->
  <div class="card-header pt-3 d-flex flex-line justify-content-between">
    <h5>
      {{ cardNoticia.title }}
    </h5>
    <p class="tag d-flex align-items-center">
      {{ cardNoticia.tags }}
    </p>
  </div>
  <!-- Body do Card -->
  <div
    class="card-body"
  >
    <!-- Row dos conteúdos do body -->
    <div class="row d-flex justify-content-center">
      <!-- Imagem do card -->
      <div
        class="card-image-div col-lg-2 col-md-12 d-flex justify-content-lg-center"
      >

        <img src="{{ cardNoticia.image }}" alt="icone" class="card-icon-large"/>
      </div>
      <!-- Informações do card -->
      <div class="col-lg-10 col-md-12">
        <!-- Organização das informações -->
        <div class="d-flex align-items-start flex-column ps-md-3 ps-lg-0">
          <h5 class="card-title mt-md-3">{{ cardNoticia.title }}</h5>
          <p class="card-text">{{ cardNoticia.description }}</p>
          <a
            routerLink="/noticia-detalhe/{{ cardNoticia.id }}"
            class="btn btn-primary"
            >Ver noticia</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim do Body -->
</div>
<!-- Fim da div do card -->

