<div class="cabecario-descricao row align-items-center border-bottom border-2 ">
  <div class="col-md-9 col-sm-5 ps-5">
    <h1>Titulo da Reclamação</h1>
  </div>
  <div class="col-md-3 col-sm-5 text-end pe-5">
    <h2>22/10/2004</h2>
  </div>
</div>
<div class="reclamao-text row mt-3 pt-2 px-5">
  <p class="p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque deleniti debitis dolorem laudantium omnis praesentium voluptatum iure repellendus. Sapiente ea nemo molestias distinctio praesentium necessitatibus sequi architecto beatae animi dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, velit omnis esse maiores ipsam, voluptatibus sed ad dignissimos commodi molestiae quis amet labore veritatis magnam est consectetur hic fuga itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae molestias distinctio neque possimus vero corrupti quae, consequuntur cum? Laudantium aliquam labore voluptatibus impedit, deserunt quae explicabo. Possimus dolores commodi repudiandae.</p>
</div>

