.container-fluid{
  padding: 0px;
}

#header{
    background-color: var(--cor-primaria);
    height: var(--header-altura);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); 
    position: sticky;
    top: 0;
    z-index: 999; 
}

/* Imagem */

#logo-header img{
    width: 240px;
    height: 100px;
    transition: 0.6s opacity;
    margin-bottom: 20px;
}

#logo-header img:hover{
    opacity: 0.7;
}

@media(max-width:500px){
    #logo-header{
        width: 200px;
        height: 100px;
    }
    #header{
        flex-direction: column;
        height: auto;
    }
}