ul {
  padding: 0px;
  margin: 0;
}

/* Navbar */
#navbar-header{
  height: calc(var(--header-altura) - 20px);
}

#navbar-links {
  font-size: var(--header-texto);
  list-style: none;
  height: 100%;
  gap: 20px;
}

.navbar-header-link {
  text-decoration: none;
  color: var(--cor-fonte-branca);
  font-weight: 500;
  gap: 10px;
  position: relative;
  transition: 0.7s transform, opacity ease;
}

/* Animação do Navbar */
.navbar-header-link:hover {
  transform: translateY(-4px);
  opacity: 0.7;
}

/* .navbar-header-link:not(.link-navbar-ativo)::after {
  content: " ";
  width: 0%;
  height: 3px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  transition: 0.8s all ease-in-out;
}

.navbar-header-link:not(.link-navbar-ativo):hover::after {
  width: 100%;
} */

.active {
  border-bottom: 4px solid white;
}

.active:hover {
  border-bottom: 4px solid #f5f5f5;
}

/* offcanvas */

.offcanvas-header{
  background-color: var(--cor-primaria);
  border-bottom: var(--cor-terciaria) 3px solid !important;
  color: #eeeeee;
  border: none;
}

.offcanvas-body{
  background-color: var(--cor-primaria);
}

.link-navbar-ativo{
  border-bottom: 3px solid white;
}
