<div [formGroup]="formGroup">
    <!-- FormControl -->
    <img class="icon me-1" [src]="inputIcon">
    <label [for]="controlName + '-' + formName" class="form-label">
        {{label}}
        <span *ngIf="required" class="required-control">*</span>
    </label>
    <input
        [formControlName] = "controlName"
        [type]="type"
        [name]= "controlName + '-' + formName"
        class="form-control" 
        [id]="controlName + '-' + formName" 
        [placeholder]="placeholder"
    >

    <!-- Exibição de erros no formulário -->
    <span 
        *ngIf="formGroup!.controls[controlName]?.invalid 
            && formGroup!.controls[controlName].touched 
            && formGroup!.controls[controlName].value"
        class="texto-validacao-erro-form ms-2">
        <img src="assets/login/erro_icon.svg" alt=""> 
        Campo obrigatório ou inválido
    </span>
    <!-- Verifica se o campo é invalido (baseado nos Validators definidos), 
        se foi tocado, e se não tem valor vazio, para então mostrar o span de erro -->
</div>
