img{
  width: 60px;
  height: 60px;
}

.opcoes-dashboard{
  background-color: var(--cor-primaria);
  gap: 20px;
  border-radius: 4px;
}

.opcao-dashboard{
  background-color: var(--cor-secundaria);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.7s all ease;
    cursor: pointer;
    border-radius: 4px;
    flex-wrap: wrap;
}

.opcao-dashboard span{
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.opcao-dashboard:hover{
  transform: scale(1.05);
}
