<div class="container-fluid">
  <div class="row banner">
    <div class="col">
      <img class="img-fluid" src="img/paginas/reclamacoes/reclamacao.svg" alt="banner reclamacao">
    </div>
    <div class="col-8">
      <p>
        Denunciar e fazer reclamações sobre problemas de esgoto e água é essencial para garantir a saúde pública,
        prevenir doenças e proteger o meio ambiente. Ao relatar esses problemas, ajudamos a incentivar as autoridades
        para que realizem as devidas manutenções e reparos, garantindo um saneamento básico adequado. Além disso,
        ações corretivas evitam a contaminação de rios e mares, preservando os recursos hídricos para as futuras
        gerações.</p>
    </div>
  </div><!-- banner -->
  <div class="row tags">
    <div class="col">
      <h2>Reclamações criadas por usuários</h2>
      <div class="pesquisa-tag">
        <div class="titulo-reclamacao">
          <label for="titulo">Filtre pela Tag</label>
          <input type="text" name="tag" id="tag">
        </div>
      </div>
    </div>
  </div>
</div>
