<div class="container-fluid">
  <div class="row banner">
    <div class="col">
      <img class="img-fluid" src="img/paginas/reclamacoes/reclamacao.svg" alt="banner reclamacao">
    </div>
    <div class="col-8">
      <p>
        Denunciar e fazer reclamações sobre problemas de esgoto e água é essencial para garantir a saúde pública,
        prevenir doenças e proteger o meio ambiente. Ao relatar esses problemas, ajudamos a incentivar as autoridades
        para que realizem as devidas manutenções e reparos, garantindo um saneamento básico adequado. Além disso,
        ações corretivas evitam a contaminação de rios e mares, preservando os recursos hídricos para as futuras
        gerações.</p>
    </div>
  </div><!-- banner -->
  <div class="row mb-5">
    <div class="col tags">
      <h2 class="mb-4">Filtre pela Tag</h2>
      <form class="pesquisa-tag p-4">
        <div class="tag-reclamacao">
          <select class="form-select text-center borda" name="tag" id="">
            <option value="tag1">Tag1</option>
            <option value="tag2">Tag2</option>
            <option value="tag3">Tag3</option>
            <option value="tag4">Tag4</option>
          </select>
        </div>
      </form>
    </div>
  </div> <!-- row tag  -->
  <div class="row mb-5">
    <div class="col text-center adicionar">
      <h2 class="mb-4">Adicione sua reclamação</h2>
      <div class="adicionar-btn py-3">
        <a class="btn btn-secondary">Adicionar</a>
      </div>
    </div>
  </div><!-- row adicionar reclamação -->
  <div class="row">

  </div>
  <div class="row mt-4 mb-4 cards-div"> <!-- Row onde ficam os cards -->
    @if (reclamacoes.length > 0) { <!-- verificando se a lista é vazia -->
      <div class="col-12 p-4 ps-5 pe-5" *ngFor="let reclamacao of reclamacoes"> <!-- Coluna do card-->
        <app-reclamacao-card [card]="reclamacao"></app-reclamacao-card>
      </div> <!-- Fim da Coluna do card -->
    }

  </div> <!-- Fim do row dos cards -->
</div><!-- Fim container-fluid -->
