<div class="background d-flex">
  <div class="painel m-5 details justifica rounded overflow-hidden">
    <div class="header-painel p-5 d-flex flex-line gap-5">
      <img
        id="imgResponsaveis"
        class="me-3"
        src="img/paginas/responsaveis/aguasDeVotorantim.jpeg"
        alt="ResponsaveisFoto.png"
      />
      <div>
        <h2 id="titulo">Responsáveis Pelo saneamento</h2>
        <h5>Águas de votorantim</h5>
      </div>
    </div>
    <div class="info p-5">
      <span>
        Em Votorantim, os responsáveis pelo saneamento são os funcionários da
        empresa privada: águas de Votorantim, Águas de Votorantim completa 12
        anos no dia 18 de junho com mais de R$ 110 milhões investidos no
        saneamento básico da cidade. Segundo a concessionária, foi alcançada a
        universalização, com 100% de abastecimento de água e 99,4 % de cobertura
        de esgoto para seus clientes. Desde o início da implantação, a
        concessionária afirma que trabalhou com planejamento, “tendo como meta
        prestar um serviço de elevada qualidade à população e colocar Votorantim
        na elite dos municípios brasileiros na área de saneamento”. Nesses 12
        anos, foram realizados investimentos como a expansão da rede de
        distribuição de água e da rede de esgoto, a substituição de adutoras, a
        implantação de novos reservatórios, emissários e Estações Elevatórias de
        Esgoto. As quatro Estações de Tratamento de Água (ETAs) e as duas
        Estações de Tratamento de Esgoto (ETEs) passam por constantes melhorias,
        assim como o Centro de Controle Operacional (CCO), implantado logo no
        início da concessão, e que agora teve incorporado um software de
        Inteligência Artificial desenvolvido especialmente para a
        concessionária, que detecta rapidamente eventuais vazamentos e
        oscilações no sistema de abastecimento de água da cidade. “Estamos
        trabalhando constantemente para a modernização dos sistemas de
        tratamento de água e de esgoto. Água de boa qualidade e o tratamento de
        esgoto adequado significam mais saúde para a população”, afirma Alberto
        Costa, superintendente da Águas de Votorantim.
      </span>
    </div>
    <div class="info p-5 d-flex flex-column align-items-center">
      <span>
        Endereço: Rua Antonio Festa, 88 - Centro Votorantim, SP - CEP: 18110-105
      </span>
      <a class="contato" href="tell:(15) 3353-7300"
        ><img
          class="icone me-3"
          src="img\footer\phone.svg"
          alt="phone.svg"
        />Telefone: (15) 3353-7300</a
      >
      <a class="contato" href="mailto:presidente@votorantim.sp.leg.br"
        ><img
          class="icone me-3"
          src="img\footer\email.svg"
          alt="phone.svg"
        />Email: presidente&#64;votorantim.sp.leg.br</a
      >
    </div>
    <div class="d-flex p-5 justify-content-between align-items-center">
      <a href=""></a>
      <a class="btn btn-primary" routerLink="/">Voltar </a>
    </div>
  </div>
</div>
