<div class="background d-flex">
  <div class="container-fluid">
    <section class="row empresa d-flex">
      <div class="col">
        <h2 class="pb-3">Empresa desenvolvedora</h2>
        <p>
          A consultoria Overclocking é um grupo formado por 5 estudantes do
          curso de Desenvolvimento de Software Multiplataforma da Fatec de
          Votorantim, atualmente estamos no nosso 1º semestre e buscamos
          desenvolver o site para que possa se tornar uso público
        </p>
      </div>
      <!-- col -->
      <div class="col d-flex align-items-center">
        <img
          src="img/paginas/sobrenos/overclocking.png"
          alt="imagem da empresa Overclocking"
        />
        <h2>Consultoria Overclocking</h2>
      </div>
    </section>
    <!-- empresa -->
    <section class="row objetivo d-flex flex-row align-items-center">
      <div class="col d-flex justify-content-center">
        <img
          class="img-objetivo"
          src="img/paginas/sobrenos/objetivos.svg"
          alt="imagem sobre nossos objetivos"
        />
      </div>
      <div class="col">
        <h2 class="pb-3">Nosso Objetivo</h2>
        <p>
          O nosso objetivo é criar um site que possa colaborar com as ODS, eles
          representam um plano de ação global para eliminar a pobreza extrema e
          a fome, oferecer educação de qualidade ao longo da vida para todos,
          proteger o planeta e promover sociedades pacíficas e inclusivas até
          2030.
        </p>
        <p>
          O site tem como objetivo colaborar para a Água Limpa e Saneamento (ODS
          6) e Boa Saúde e Bem-Estar (ODS 3), reunindo informações e
          possibilitando uma comunicação sobre problemas e reclamações com o
          nosso sistema de Criação de Reclamações, assim, esperamos ajudar a
          construir um ambiente mais seguro e saudável para todos
        </p>
      </div>
    </section>
    <!-- objetivo -->
    <section class="row desenvolvedores">
      <h2>Desenvolvedores</h2>
      <div class="group-dev d-flex justify-content-center mt-5">
        <div class="dev">
          <img
            src="img/paginas/sobrenos/adryann.jpg"
            alt="foto do desenvolvedor"
          />
          <span>Adryann</span>
        </div>
        <div class="dev">
          <img
            src="img/paginas/sobrenos/davy.jpg"
            alt="foto do desenvolvedor"
          />
          <span>Davy</span>
        </div>
        <div class="dev">
          <img
            src="img/paginas/sobrenos/matheus.jpg"
            alt="foto do desenvolvedor"
          />
          <span>Matheus</span>
        </div>
      </div>
      <!-- group-dev -->
    </section>
  </div>
</div>
