#banner-img{
  width: 300px;
}

#banner{
  background-color: #F0F0F0;
  font-size: larger;
  text-align: justify;
}

body{
  background-color: #E9E9E9;
}

#div-select{
  background-color: var(--cor-terciaria);
}
#card-header{
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
  font-weight: bold;
}
#card-body{
  background-color: #E0E0E0;
  font-weight: bold;
}
.borda-redonda{
  border-radius: 5px;
}
