<!-- banner -->
<div class="row d-flex justify-content-center">
  <div
    class="borda-redonda col-9 d-flex flex-line m-5 p-3 align-items-center justify-content-center"
    id="banner"
  >
    <img
      src="img/paginas/noticias/noticia.svg"
      alt="noticia.svg"
      id="banner-img"
    />
    <span>
      Acompanhar notícias sobre água potável e saneamento é essencial para
      manter-se informado sobre a qualidade e disponibilidade dos recursos
      hídricos, além de medidas preventivas contra doenças. Conhecer
      atualizações e políticas públicas nessa área ajuda a promover a saúde
      pública e a sustentabilidade ambiental.
    </span>
  </div>
</div>
<!-- banner -->
<!-- select -->
<div class="d-flex flex-column justify-content-center align-items-center">
  <h2>Notícias sobre o saneamento básico:</h2>
  <div
    class="borda-redonda col-8 d-flex flex-line justify-content-center p-3 m-3"
    id="div-select"
  >
    <div class="me-5">
      <label for="noticia-input">Pesquise uma notícia</label>
      <input class="form-control" type="text" name="noticia-input" />
    </div>
    <div>
      <label for="noticia-input">Selecione uma categoria de notícias</label>
      <select class="form-select" name="noticia-input"></select>
    </div>
  </div>
</div>
<!-- select -->
<!-- Card -->
