<div class="background">
  <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <!-- Banner -->
    <div
      class="col-10 segundo-fundo d-flex flex-line justify-content-center align-items-center"
    >
      <img
        id="main-img"
        src="img/paginas/noticias/noticia.svg"
        alt="pessoa_doente.svg"
      />
      <span id="texto-banner-doencas">
        O saneamento básico é crucial para a saúde pública, prevenindo doenças
        e promovendo o bem-estar. O acesso a água potável, esgoto tratado e
        manejo correto de resíduos sólidos reduz a contaminação ambiental e a
        exposição a agentes patogênicos. Proteja sua saúde e o meio ambiente com
        os cuidados necessários!
      </span>
    </div>
    <!-- Banner -->
    <div class="row d-flex justify-content-center">
      <!-- Titulo -->
      <div class="col-12 d-flex flex-line justify-content-center align-items-center text-center">
        <h2>Noticias relacionas ao saneamento básico:</h2>
      </div>
      <!-- Titulo -->
      <!-- Filtro -->
      <div class="row mb-5">
        <div class="col tags">
          <h2 class="mb-4">Filtre pela Tag</h2>
          <form class="pesquisa-tag p-4">
            <div class="tag-reclamacao">
              <input list="box" type="search" class="form-select text-center borda" formControlName="tagForm">
              <datalist id="box">
                <option selected>Todos</option>
                <option>tag1</option>
                <option>tag2</option>
                <option>tag3</option>
                <option>tag4</option>
                <option>tag5</option>
                <option>Nenhum</option>
              </datalist>
            </div>
          </form>
        </div>
      </div>
  <!-- Card -->
  <div
    class="row my-4 cards-div d-flex justify-content-center align-items-center"
  >
    <!-- Row onde ficam os cards -->
    @if (noticias.length > 0) {
    <!-- verificando se a lista é vazia -->
    <div class="col-12 p-4 px-5" *ngFor="let noticia of noticias">
      <!-- Coluna do card-->
      <app-noticias-card [cardNoticia]="noticia"></app-noticias-card>
    </div>
    <!-- Fim da Coluna do card -->
    }
  </div>
</div>
