<div [formGroup]="formGroup">
    <!-- FormControl -->
    <img class="label-icon me-1" [src]="icon">
    <label [for]="controlName + '-' + formName" class="form-label">
        {{label}}
        <span *ngIf="required" class="required-control">*</span>
    </label>
    <!-- Baseado no tipo especificado ele mostra um input, textarea ou select -->
    <div [ngSwitch]="fieldType" >
        <input
            *ngSwitchDefault
            [formControlName] = "controlName"
            [name]= "controlName + '-' + formName"
            [id]="controlName + '-' + formName"
            [type]="type"
            [placeholder]="placeholder"
            class="form-control"
        >
        <textarea
        *ngSwitchCase="'textarea'"
        [formControlName]="controlName"
        [name]="controlName + '-' + formName"
        [id]="controlName + '-' + formName"
        [placeholder]="placeholder"
        rows="3"
        class="form-control"
        ></textarea>
        
    @if (type == 'password' || this.showPassword == true) 
    {
        <div class="show_password ms-1" (click)="changeType()" >
            <img class="icon show_password_icon me-1" src="assets/login/{{!showPassword ? 'show_password_icon' : 'hide_password_icon'}}.svg"> 
            <span class="form-text">{{!showPassword ? 'Mostrar senha' : 'Esconder senha'}}</span>
        </div>
    }
    </div>
    
   
    <!-- Exibição de erros no formulário -->

    <!--
        Verifica se o campo é invalido (baseado nos Validators definidos),
        se foi tocado, e se não tem valor vazio, para então mostrar o span de erro

        Mostra todos spans com erro respectivo ativo
    -->

    <!-- Para cada Validator do controlName -->
    <div *ngFor="let validator of validators">
        @if (formGroup.get(controlName)?.value && formGroup.get(controlName)?.touched) {
            <span
                *ngIf="formGroup.get(controlName)?.errors?.[validator]"
                class="texto-validacao-erro-form ms-2"
            >
                <img src="assets/login/erro_icon.svg" class="icone-validacao-form" alt="">
                {{getErrorMessage(validator)}}
            </span>
        }
    </div>
</div>
