<div class="background"> <!-- background -->
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column"> <!-- Div do container-->
        <!-- Formulário de Cadastro -->
        <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()" class="form d-flex justify-content-center align-items-center flex-column m-3 p-4 rounded">
            <h3 class="mb-4">Cadastre-se</h3>
            <!-- Campos do formulário -->
            <div class="row mt-3" style="width: 100%; max-width: 600px;">
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/usuario_icon.svg"
                    controlName="nome"
                    label="Nome: "
                    type="text"
                    placeholder="Nome de usuário"
                    [required]="true"
                    [errorValidators]="['required']" 
                    >
                    </app-form-input> 
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/email_icon.svg"
                    controlName="email"
                    label="Email: "
                    type="mail"
                    placeholder="Email de cadastro"
                    [required]="true"
                    [errorValidators]="['required', 'email']" 
                    >
                    </app-form-input>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/senha_icon.svg"
                    controlName="senha"
                    label="Senha: "
                    type="password"
                    placeholder="Senha de login"
                    [required]="true"
                    [errorValidators]="['required', 'minlength']" 
                    >
                    </app-form-input>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/senha_icon.svg"
                    controlName="confirmaSenha"
                    label="Confirme sua senha: "
                    type="password"
                    placeholder="Confirmação da senha"
                    [required]="true"
                    [errorValidators]="['required', 'minlength']" 
                    >
                    </app-form-input>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/telefone_icon.svg"
                    controlName="telefone"
                    label="Telefone:"
                    type="tel"
                    placeholder="Telefone para contato"
                    >
                    </app-form-input>
                </div>
                <hr>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/endereco_icon.svg"
                    controlName="cep"
                    label="CEP:"
                    type="text"
                    placeholder="Digite seu CEP"
                    >
                    </app-form-input>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/endereco_icon.svg"
                    controlName="numero"
                    label="Número:"
                    type="number"
                    placeholder="Digite seu número"
                    >
                    </app-form-input>
                </div>
                
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/endereco_icon.svg"
                    controlName="bairro"
                    label="Bairro:"
                    type="text"
                    placeholder="Digite seu bairro"
                    >
                    </app-form-input>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/endereco_icon.svg"
                    controlName="logradouro"
                    label="Rua:"
                    type="text"
                    placeholder="Digite sua rua"
                    >
                    </app-form-input>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <app-form-input
                    [formGroup]="formCadastro"
                    icon="assets/login/endereco_icon.svg"
                    controlName="cidade"
                    label="Cidade:"
                    type="text"
                    placeholder="Digite sua cidade"
                    >
                    </app-form-input>
                </div>
            </div>

            <!-- Texto explicativo e botão -->
            <span class="small mt-2 mb-2">Saiba porque precisamos dessas informações de contato <a class="link-form">aqui</a></span>

            <!-- Caso algum dos controls esteja inválido -->
            <span *ngIf="checkIfFormError('invalid-control')" class="texto-validacao-erro-form mb-1">
                <img src="assets/login/erro_icon.svg" alt=""> Campos obrigatórios não preenchidos ou inválidos
            </span> <!-- Método checkIfFormError retorna true caso o erro específico esteja ocorrendo (parametro é o valor de string do enum)-->

            <!-- Caso as senhas não coincidam -->
            <span *ngIf="checkIfFormError('invalid-password')" class="texto-validacao-erro-form mb-1">
                <img src="assets/login/erro_icon.svg" alt=""> Senhas não coincidem
            </span>

             <!-- Caso já exista um usuário -->
             <span *ngIf="checkIfFormError('user-exists')" class="texto-validacao-erro-form mb-1">
                <img src="assets/login/erro_icon.svg" alt=""> Já existe um usuário com esse email
            </span>

             <!-- Botão de entrar -->
             <button class="mt-3 form-btn" type="submit">CADASTRAR</button>
             <!-- Links para entrada com redes sociais -->
             <div class="links-redes d-flex justify-content-between align-items-center mt-4">
                <a href=""><img src="assets/login/facebook_icon.svg" alt="Login com facebook"></a>
                <a href=""><img src="assets/login/google_icon.svg" alt="Login com linkedin"></a>
                <a href=""><img src="assets/login/x_icon.svg" alt="Login com conta google"></a>
            </div>

            <!-- Link para página de cadastro -->
            <div class="mt-4">
                <span class="texto-link">Já possui uma conta? <a routerLink="/login" class="link-form">Faça login</a></span>
            </div>
        </form> <!-- Fim do formulário -->
    </div>
</div>
