.painel {
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 1px solid #bdbbbb;
  height: auto;
}

.info {
  border-bottom: solid 3px;
  border-color: #8f8f8f;
}

.imgPainel{
  width: 300px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.paragraf-painel{
  text-indent: 50px;
  text-align: justify;
}
