<div class="container-fluid mt-4">
  <div class="painel px-4">
    <div class="header-painel py-3">
      <div class="row">
        <div class="col-4">
          <img class="img-fluid img-painel" src="reclamacao1.jpg" alt="imagem da reclamação">
        </div>
        <div class="col-8">
          <h1 class="fw-bold">Descaso e Ineficiência no Serviço de Saneamento.</h1>
          <p>00/00/0000</p>
        </div>
      </div>
    </div><!-- header-painel -->
    <div class="body-painel py-3">
      <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt amet excepturi a molestias laudantium, vel, voluptatem reiciendis vero aspernatur, aliquid labore. Minima reiciendis minus mollitia possimus tenetur ea iusto voluptatum!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt amet excepturi a molestias laudantium, vel, voluptatem reiciendis vero aspernatur, aliquid labore. Minima reiciendis minus mollitia possimus tenetur ea iusto voluptatum!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt amet excepturi a molestias laudantium, vel, voluptatem reiciendis vero aspernatur, aliquid labore. Minima reiciendis minus mollitia possimus tenetur ea iusto voluptatum!</p>
      </div>
    </div> <!-- body-painel -->
    <div class="footer-painel">
      <div class="container-fluid text-center">
        <div class="row">
          <a class="link-secondary" href="#">Voltar ao Menu</a>
        </div>
        <div class="row">
          <a class="link-secondary" href="#">Ir para os comentários</a>
      </div>
      </div>
    </div><!-- footer-painel -->
  </div><!-- painel -->
</div>
