.input{
  width: 90%;
  border-radius: 20px;
  background-color: var(--cor-terciaria);
  padding: 0 15px;
  resize: none;
  align-content: center;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  background-color: white;
}

.enviar{
  border: 1px solid #616161 !important;
  transition: 0.75s;
  height: 50px;
}
.enviar:hover{
  background-color: var(--cor-secundaria);
}
