.form{
  width: 600px;
}

textarea{
  height: auto !important;
}

.sintomas{
  border: 4px solid var(--cor-primaria);
}

.sintoma-adicionado{
  cursor: pointer !important;
  transition: 0.5s all ease;
}

.sintoma-adicionado:hover{
  transform: translateX(6px);  
}