<div class="menus">
  <div class="container-fluid d-flex justify-content-center">
    <div class="col-12 col-md-10">
      <div class="row mt-4 mb-4 cards-div"> 
        <div class="col-md-6 col-lg-12" *ngFor="let card of cards">
          <div class="card h-100">
            <h5 class="card-header pt-3 pb-3">{{ card.nome }}</h5>
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="{{ card.src }}" alt="icone" class="icone-cards img-fluid me-3">
                <h5 class="card-title mb-0">{{ card.titulo }}</h5>
              </div>
              <p class="card-text">{{ card.info }}</p>
              <button class="btn btn-primary btn-md">Ver {{ card.nome }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
