<div class="container-fluid">
  <div class="row my-4 mx-3 comentario">
    <!-- Header do comentario -->
    <div class="header-comentario py-2">
      <!-- Informações da Reclamação -->
       <app-comentario-cima></app-comentario-cima>
    </div>
    <!-- Corpo Comentario -->
     <div class="body-comentario w-100 d-flex flex-column h-auto pt-5 pb-3 gap-5 p-0">
        <!-- looping do componente a baixo. a diretiva ngStyle irá colocar o comentário a esquerda caso o Id do Administrador seja nulo, se for nulo colocará o comentário a direita -->

        @if (data$ | async) {
              <app-comentario-baixo *ngFor="let comentario of data$|async" [ngStyle]="{'justify-content': comentario.objAdmin === null ? 'flex-start' : 'flex-end'}"
              class="autor"
              [comentario]="comentario"
              >
            </app-comentario-baixo>
      }
      </div>
     <div class="novo-comentario pt-5 pb-3 px-0">
      <app-comentario-input></app-comentario-input>
     </div>
  </div>
</div>
