<nav id="navbar-header">
  <button aria-label="Abrir menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
      <span id="hamburguer"></span>
  </button>
  <ul id="navbar-links" role="menu">
    <div *ngFor="let link of links">
      <li><a class="navbar-header-link" href=""><img src="{{link.img}}" alt="{{link.alt}}"><span>{{link.nome}}</span></a></li>
    </div>
    <li id="login-navbar"><a href=""><img src="assets/icones/icon_white_login.svg" alt="Ir para a página de login" id="icon_login"><span>Login</span></a></li>
  </ul>
</nav>
