/* Navbar */

#btn-mobile{
  display: none;
}

#navbar-header{
  display: flex;
  align-items: center;
}

#navbar-header .navbar-header-link{
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  gap: 5px;
}

#navbar-header .navbar-header-link:hover{
  color: #ffffffa4;
}

#menu-mobile{
  display: none;
}

#navbar-links{
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: 20px;
  height: 100px;
  font-size: 1.125rem;
  list-style: none;
  gap: 20px;
}

#navbar-header .navbar-header-link{
  position: relative;
  padding-bottom: 4px;
}

/* Login */

#login-navbar{
  margin-bottom: 10px;
  margin-left: 40px;
  transition: 0.4s all ease-in-out;
}

#login-navbar:hover{
  opacity: 0.5;
}

#login-navbar a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--header-texto);
  font-weight: 600;
  text-decoration: none;
}

#icon_login{
  width: 80px;
  height: 80px;
}

/* Animação do Navbar */

#navbar-header .navbar-header-link:not(.active)::after{
  content: " ";
  width: 0%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  transition: 0.8s all ease-in-out;
}

#navbar-header .navbar-header-link:not(.active):hover::after{
  width: 100%;
}

#navbar-header .active{
  border-bottom: 4px solid white;
}

#navbar-header .active:hover{
  border-bottom: 4px solid #f5f5f5
}
